#contact .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
}

#contact header {
  max-width: 24rem;
}

#contact header p {
  font-size: 1.125rem;
  margin-top: 0.75rem;
}

#contact header a {
  margin-top: 1.5rem;
}

#contact ul {
  justify-self: center;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  font-size: 1.125rem;
}

#contact ul li i {
  color: var(--primary-color);
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  #contact .content {
    grid-template-columns: 1fr;
  }

  #contact ul {
    justify-self: start;
  }
}
