#hero {
  overflow: hidden;
}

#hero .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 4rem;
}

#hero .text {
  max-width: 24.75rem;
}

#hero .text p {
  margin-top: 0.75rem;
  font-size: 1.125rem;
}

#hero .text a {
  margin-top: 1.5rem;
}

#hero picture {
  position: relative;
  padding-right: 3rem;
}

#hero picture::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -21.25%;
  right: -9.84%;
  border-radius: 4px;
  background: var(--secondary-color);
  z-index: -1;
}

#hero picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 768px) {
  #hero .content {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-inline: 0;
  }

  #hero .text {
    order: 1;
    max-width: none;
    text-align: center;
    padding-inline: 1.5rem;
  }

  #hero .text a {
    margin-inline: auto;
  }
}
